# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build output
build/
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Environment variables
.env
.env.*.local

# IDE folders
.vscode/
.idea/

